{
  "env": {
    "browser": true,
    "es2021": true
  },
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "useJSXTextNode": true,
    "project": ["./tsconfig.json", "./packages/frontend/tsconfig.json"],
    "tsconfigRootDir": "."
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  },
  "plugins": ["@typescript-eslint"],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "@typescript-eslint/no-explicit-any": 0,
    "no-alert": 0,
    "no-throw-literal": 0,
    "semi": 2,
    // "@typescript-eslint/semi": ["error"],
    "no-extra-semi": 0,
    "no-debugger": 0,
    "no-constant-condition": 0,
    "no-unused-vars": 0,
    "@typescript-eslint/no-unused-vars": [
      "error",
      { "argsIgnorePattern": "^_" }
    ],
    "array-callback-return": 0,
    "no-useless-constructor": 2,
    "operator-assignment": 1,
    "keyword-spacing": 2,
    "space-before-blocks": 2,
    "no-undef": 0,
    "comma-dangle": 0,
    "quotes": 0,
    "prefer-const": 0,
    "jsx-quotes": 0,
    "no-underscore-dangle": 0,
    "no-else-return": 0,
    "spaced-comment": 0,
    "indent": 0,
    "object-shorthand": 0,
    "camelcase": 0,
    "max-len": 0,
    "arrow-parens": 0,
    "arrow-body-style": 0,
    "no-mixed-operators": 0,
    "no-param-reassign": 0,
    "space-before-function-paren": 0,
    "prefer-arrow-callback": 0,
    "one-var": 0,
    "one-var-declaration-per-line": 0,
    "no-plusplus": 0,
    "no-unsafe-negation": 0,
    "space-infix-ops": 0,
    "consistent-return": 0,
    "no-restricted-syntax": 0,
    "no-return-await": 0,
    "no-empty-function": 0,
    "prefer-template": 0,
    "no-useless-return": 0,
    "no-await-in-loop": 0,
    "no-trailing-spaces": 0,
    "func-names": 0,
    "quote-props": 0,
    "dot-notation": 0,
    "no-unneeded-ternary": 0,
    "no-return-assign": 0,
    "no-multiple-empty-lines": 0,
    "object-curly-newline": 0,
    "function-paren-newline": 0,
    "getter-return": 0,
    "prefer-destructuring": 0,
    "no-restricted-globals": 0,
    "import/no-extraneous-dependencies": 0,
    "import/prefer-default-export": 0,
    "import/first": 0,
    "import/extensions": 0,
    "import/newline-after-import": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/no-noninteractive-element-interactions": 0,
    "jsx-a11y/label-has-for": 0,
    "jsx-a11y/anchor-has-content": 0,
    "jsx-a11y/mouse-events-have-key-events": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "react/prop-types": 0,
    "react/prefer-stateless-function": 0,
    "react/jsx-filename-extension": 0,
    "react/jsx-first-prop-new-line": 0,
    "react/no-array-index-key": 0,
    "react/self-closing-comp": 0,
    "react/no-danger": 0,
    "react/jsx-wrap-multilines": 0,
    "react/require-default-props": 0,
    "react/sort-comp": 0,
    "react/no-string-refs": 0,
    "react/no-multi-comp": 0,
    "react/no-did-mount-set-state": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-boolean-value": 0,
    "react/jsx-curly-brace-presence": 0,
    "react/no-unused-state": 0,
    "react/jsx-closing-tag-location": 0,
    "react/destructuring-assignment": 0,
    "operator-linebreak": 0,
    "implicit-arrow-linebreak": 0,
    "no-console": 0
  }
}
