# OSX
.DS_Store

# VS Code
.vscode

# Test
.coverage
htmlcov

# Daemon
*.pid
*.log

# intellij
.idea
*.iml

# dependencies
/node_modules
packages/**/node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/build
packages/**/build/
packages/**/.cache/
packages/podder-lp/public/
packages/**/dist-dev/
.env